<footer>
  <div class="container w-100">
    <div class="row p-4">
      <div class="col-md-6 text-center text-md-left">
        <span class="pulse"></span>
        <span class="footer-brand"><strong>theplaydept.com</strong></span>
        <small id="quote" class="tagline"></small>
      </div>
      <div class="col-md-6 text-center text-md-right mt-4 mt-md-0">
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/terms/">Terms</a></li>
          <li><a href="/contribute/">Contribute</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
