//
// Global
// --------------------------------------------------

html,
body {
  overflow-x: hidden;
    background: $black;

  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }
}

.brandLogo {
  background-image: url(/assets/images/logo-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
}

.brandLogo--small {
  width: 44px;
  height: 44px;
    
      @media (max-width: $screen-xs-max) {
    width: 50%;
    top: 100px;
  }
}

.brandLogo--black {
  background-image: url(/assets/images/logo-black.png);
}

.textLogo {
  display: block;
  background-image: url(/assets/images/logo-text-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 40px;
  text-indent: -100em;
  overflow: hidden;
}

.textLogo--white {
  background-image: url(/assets/images/logo-text-white.svg);
}

.textLogo--sidebar {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.textLogo--frontpage {
  width: 50%;    
  margin: 20px auto;
  background-size: 100%;
  background-position: 0;
  opacity: 0.9;

  @media (max-width: $screen-xs-max) {
    width: 90%;
    height: 150px;
    top: 80px;
  }
}
